<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <h1>Create User</h1>
	<form th:action="@{/register}" method="post">
	  <label for="input1">username:</label>
	  <input type="text" id="input1" name="input1">
	
	  <label for="input2">password:</label>
	  <input type="text" id="input2" name="input2">
	  
	  
	  Permission needed to add user:
	  <label for="main1">username:</label>
	  <input type="text" id="main1" name="main1">
	
	  <label for="main2">password:</label>
	  <input type="text" id="main2" name="main2">
	
	  <button type="submit">Submit</button>
	</form>
	<div th:if="${result != null}">
  			<p th:text="${result}"></p>
	</div>
	<div th:if="${result1 != null}">
  			<p th:text="${result1}"></p>
	</div>

</body>
</html>